.nav,
.home-cont,
.det-container {
  width: 100vw;
  max-width: 900px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: calc(100vh - 48px);
  padding: 0;
  background-color: rgb(177, 43, 94);
}

.home-item,
.coin {
  max-height: 200px;
  min-height: 150px;
}

.nav {
  font-family: "Lato", sans-serif;
}

.coin {
  margin: 0;
  padding-right: 2%;
}

.home-cont {
  height: calc(100vh - 24px);
}

.coin:nth-child(4n-1),
.coin:nth-child(4n-2) {
  background-color: rgb(214, 69, 126);
}

.coin:nth-child(1),
.coin:nth-child(4n-3),
.coin:nth-child(4n-4) {
  background-color: rgb(177, 43, 94);
}

.home-cont,
.input,
.nav {
  background-color: rgb(236, 76, 138);
}

.input,
.input::placeholder {
  color: white;
  margin: auto;
}

.input,
.input:focus {
  border: none;
  outline: none;
  max-width: 900px;
}

.home-item img {
  align-self: center;
  height: 45%;
}

.det-container {
  display: grid;
  height: calc(100vh - 24px);
}

.det-items {
  padding: 0 2%;
}

.det-items:nth-child(odd) {
  background-color: rgb(242, 77, 143);
}

.det-items:nth-child(even) {
  background-color: rgb(223, 71, 130);
}

.det-items img {
  width: 50%;
  max-width: 200px;
}

.symbol {
  border: 4px solid rgba(218, 0, 189, 0.2);
  padding: 1% 7%;
  border-radius: 10%;
}

@media screen and (min-width: 900px) {
  .nav {
    width: 95%;
    max-width: 95%;
    margin-top: 2%;
    border: 1px solid rgb(122, 4, 50);
  }

  .input,
  .input:focus {
    max-width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    background-color: rgb(177, 43, 94);
  }

  .home-cont {
    max-width: 95%;
    height: 80vh;
    background-color: white;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 1%;
    row-gap: 10%;
    gap: 5%;
    background-color: white;
  }

  @keyframes recolor {
    0% {
      background: rgb(214, 69, 126);
    }

    50% {
      background: rgb(110, 16, 52);
    }

    100% {
      background: rgb(214, 69, 126);
    }
  }

  .coin:nth-child(odd) {
    animation: recolor 10s infinite;
  }

  .coin:nth-child(even) {
    animation: recolor 10s infinite;
  }

  .det-container {
    max-width: 75%;
    margin-top: 4%;
    height: auto;
    padding: 0;
    border: 2px solid rgb(223, 71, 130);
  }

  .det-items:nth-child(1) {
    flex-direction: column-reverse;
    background-color: white;
    padding: 0;
  }

  .det-items:nth-child(2) {
    margin: 5% 0;
  }

  .det-items:nth-child(1) span {
    width: 100%;
    background-color: rgb(242, 77, 143);
    text-align: center;
    margin-bottom: 5%;
  }
}
