.nav,
.home-cont,
.det-container {
  width: 100vw;
  max-width: 900px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: calc(100vh - 48px);
  padding: 0;
  background-color: rgb(177, 43, 94);
}

.coin {
  margin: 0;
  padding-right: 2%;
}

.home-cont {
  height: calc(100vh - 24px);
}


.coin:nth-child(4n-1),
.coin:nth-child(4n-2) {
  background-color: rgb(214, 69, 126);
}

.coin:nth-child(1),
.coin:nth-child(4n-3),
.coin:nth-child(4n-4) {
  background-color: rgb(177, 43, 94);
}

.home-cont,
.input,
.nav {
  background-color: rgb(236, 76, 138);
}

.input,
.input:focus {
  border: none;
  outline: none;
  max-width: 900px;
}

.input {
  margin: auto;
}

.input,
.input::placeholder {
  color: white;
}

.home-item,
.coin {
  max-height: 200px;
  min-height: 150px;
}

.home-item img {
  align-self: center;
  height: 45%;
}

.det-container {
  display: grid;
  height: calc(100vh - 24px);
}

.det-items {
  padding: 0 2%;
}

.det-items:nth-child(odd) {
  background-color: rgb(242, 77, 143);
}

.det-items:nth-child(even) {
  background-color: rgb(223, 71, 130);
}

.det-items img {
  width: 50%;
  max-width: 200px;
}

.symbol {
  border: 4px solid rgba(218, 0, 189, 0.2);
  padding: 1% 7%;
  border-radius: 10%;
}
